html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
}

.container {
  width: 100%;
  margin: 0;
}

.bild{
  padding-top: 58px;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

nav {
  background-color: #01DFA5;
  color: White;
  position: fixed;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

#reisen:hover {
  content: url("../images/wuffi.png")
}

#programmieren:hover {
  content: url("../images/wuffi.png")
}

#camping:hover {
  content: url("../images/wuffi.png")
}

#lesen:hover {
  content: url("../images/wuffi.png")
}

#kochen:hover {
  content: url("../images/wuffi.png")
}

#musik:hover {
  content: url("../images/wuffi.png")
}
.supporting,
.supporting2,
.game,
.gallery,
.location {
  margin: 4em auto;
}

.supporting {
  display: flex;
  align-items: flex-start;
  padding: 0 1rem;
}

.supporting img {
  height: 15%;
  width: 15%;
  margin-right: 5%;
}

.supporting2 {
  display: flex;
  align-items: flex-start;
  padding: 0 1rem;
}

.supporting2 img {
  height: 15%;
  width: 15%;
  margin-right: 5%;
}

.description {
  padding-top: 20px;
}

.description h1,
.description2 h1 {
  font-size: 3rem;
}

.description2 {
  padding-top: 20px;
}

.rating {
 text-align: center;
}

.game {
  background-color: #01DFA5;
  height: 44rem;
  padding: 0 1rem 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game h1 {
  font-size: 2.5rem;
}

.gallery img {
  display: block;
  width: 30%;
  margin: 1.5%;
  float: left;
}

.clearfix {
  clear: both;
}

.location {
  text-align: center;
  margin-bottom: 7rem;
}

.location img {
    width: 100%;
}

footer {
  background-color: #01DFA5;
  padding: 0 1rem;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5em 0;
  color: white;
}

@media only screen and (max-width: 960px) {
  .main {
    padding-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .supporting img {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  h1 {
    font-size: 1rem;
  }
  .gallery img {
    width: 100%;
    margin: 0;
  }
}

a.button{
  padding:0.5em 3em;
  border:0.16em solid #01DFA5;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  color:#01DFA5;
  transition: all 0.15s;
  }

a.button:hover{
  color:rgba(1, 223, 164, 0.548);
  border-color:rgba(1, 223, 164, 0.548);
  }

a.button:active{
  color:#01DFA5;
  border-color:#01DFA5;
  }

@media all and (max-width:30em){
  a.button2{
    display: block;
    margin: 0.4em auto;
  }
}